.header {
    height: 95vh;
    background-image: linear-gradient(
            to right,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    position: relative;

    .logobox {
        position: absolute;
        top: 40px;
        left: 40px;

        .logo {
            height: 35px;
        }
    }
    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

